main{
    padding-bottom: 50px;
}

footer {
    background-color: rgba(5,5,5,.5);
    position: relative;
    height: 50px; /* Set the fixed height of the footer here */
    line-height: 50px; /* Vertically center the text there */
}
