html {
    height: 100%;
    /* 設定body高度為100% 拉到視窗可視的大小 */
}

body {
    height: 100%;
    font-family: 'Noto Sans TC', sans-serif;
    background-image: url(../img/firefly%20diary.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: auto;
    transition: background-image 2.0s linear;
}

main {
    margin-top: 20px;
}

#body-wrap {
    min-height: 100%;
    position: relative;
    padding-bottom: 50px;
}

footer {
    height: 50px;
    position: absolute;
    bottom: 0;
    background-color: rgba(5,5,5,.5);
    text-align: center;
    line-height: 50px; /* Vertically center the text there */
}

    footer::before {
        content: "©2019 Linya Studio.";
        color: white;
    }

    footer::after {
        content: " All Rights Reserved.";
        color: white;
    }
